@import url("https://fonts.fontself.com/gE309jx/gilbert-color-bold-preview5.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montseratt", sans-serif;
  overflow-y: hidden;
}

.app {
  /* background-image: url("./assets/cold-bg.jpg"); */
  background: linear-gradient(to bottom, #9cecfb, #65c7f7, #0052d4);
  background-size: cover;
  background-position: bottom;
  transition: 0.1s ease;
}
.app.warm {
  /* background-image: url("./assets/warm-bg.jpg"); */
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.app h1.title {
  font-family: "gilbert-color-bold-preview5";
  color: rgb(250, 112, 21);
  text-align: center;
  padding-top: 25px;
  font-size: 60px;
  transition: 0.1s ease;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.app.warm h1.title {
  color: rgb(56, 147, 232);
}
main {
  min-height: 100vh;
  padding: 25px;
}
.search-box {
  width: 50%;
  margin: 40px auto;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.location-box .location,
.error {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.weather-box .weather img {
  width: 70px;
  height: 70px;
}
.weather-box .weather .content {
  margin-top: -20px;
  padding: 0;
}
.weather-box .humidity,
.weather-box .wind {
  padding-top: 5px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
@media only screen and (max-width: 600px) {
  .search-box {
    width: 80%;
  }
  .location-box .location,
  .error {
    font-size: 26px;
  }
}
